# GRUB config file for DragonWare. This is only used when the
# USE_GRUB option is enabled in CMake.
# Hardcoding fbsrv.run here is intentional, because DragonWare
# requests a video mode from GRUB in its multiboot header.

menuentry "Boot DragonWare" {
    multiboot   /SYSTEM/KRNLIA32.SYS
    module      /RUN/ps2kbd.run
    module      /RUN/fbsrv.run
    module      /RUN/idedrv.run
    module      /RUN/dcp.run
    boot
}

menuentry "Reboot" {
    reboot
}